@{
    ViewData["Title"] = "Log In or Register";
}

<div class="text-center">
    <h3 class="display-4">Welcome to GodScience  </h3>  
    <h5>“Christians believe in the virgin birth of Jesus. Materialists believe in the virgin birth of the cosmos. Choose your miracle.”  -Glen Scrivener</h5>
</div>

<div class="leftside">
    <partial name="PartialRegistration"/>
</div>
